html {
  font-size: 50px;
}

@media only screen and (max-width: 240px) {
  html {
    font-size: 32px !important;
  }
}

/* 240x400 */
@media only screen and (min-width: 240px) {
  html {
    font-size: 32px !important;
  }
}

/* 320x480 | 320x568 */
@media only screen and (min-width: 320px) {
  html {
    font-size: 42.665px !important;
  }
}

/* 360x600 */
@media only screen and (min-width: 360px) {
  html {
    font-size: 48px !important;
  }
}

/* 375x667 | 375x812 */
@media only screen and (min-width: 375px) {
  html {
    font-size: 50px !important;
  }
}

/* 384x640 */
@media only screen and (min-width: 384px) {
  html {
    font-size: 51.2px !important;
  }
}

/* 400x640 */
@media only screen and (min-width: 400px) {
  html {
    font-size: 53.33px !important;
  }
}

/* 411x731 | 411x823 */
@media only screen and (min-width: 411px) {
  html {
    font-size: 54.8px !important;
  }
}

/* 412x732 */
@media only screen and (min-width: 412px) {
  html {
    font-size: 54.935px !important;
  }
}

/* 414x736 */
@media only screen and (min-width: 414px) {
  html {
    font-size: 55.2px !important;
  }
}

/* 480x320 */
@media only screen and (min-width: 480px) {
  html {
    font-size: 64px !important;
  }
}

/* 600x960 */
@media only screen and (min-width: 600px) {
  html {
    font-size: 64px !important;
  }
}

@media only screen and (min-width: 640px) {
  html {
    font-size: 64px !important;
  }
}

@media only screen and (min-width: 720px) {
  html {
    font-size: 64px !important;
  }
}

@media only screen and (min-width: 733px) {
  html {
    font-size: 64px !important;
  }
}

/* 768x1024 */
@media only screen and (min-width: 768px) {
  html {
    font-size: 64px !important;
  }
}

@media only screen and (max-width: 1080px) {
  #root {
    padding-top: 64px
  }
}

/* @primary-bg-color: #0F1112; */

/* @primary-font-color: #FFFFFF; */

/* @primary-transition: all ease .3s; */

/* @primary-transition-C: #FFF; */
